@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.genre-banner{
	
	background-color:#A7B3A5;
	color: #EEE;
	font-family:"Source Sans Pro";
	font-size: 24px;
	width:120%;
	padding: 25px;
	margin-bottom: 25px;
	
}
.list-image{
	margin-right: 20px;
}

.list-item{
	margin-left:10px;
}

